TOKEN=
ADMIN_ID=986072050
CHANNEL_ID=-1003987665896
BOT_USERNAME=IxchanneBot
BINANCE_WALLET=
NETWORK=TRC20
CURRENCY=USDT
MIN_WITHDRAW=1.0
DATABASE_URL=mysql+pymysql://user:password@host/database
CHANNEL_LINK=https://t.me/gooodertg
REFERRAL_REGISTRATION_BONUS=0.05
REFERRAL_COMMISSION_RATE=0.10
CAMPAIGN_REWARD=0.005
